<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 
      style="color:rgb(120,120,120); margin-bottom:4px;">
      {{job['title']}}
    </h4>
    <div>
      <b>Location: </b>{{job['location']}} 
    </div>
    {% if 'salary' in job %}
    <div>
      <b>Salary: </b>{{job['salary']}} 
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:fredredev@gmail.com?subject=Aplica%C3%A7%C3%A3o%20para%3A%20{{job['title']}}&body=Seu%20nome%3A%20%3Cnome%3E%0D%0A%0D%0ASeu%20curr%C3%ADculo%3A%20%3Ccurr%C3%ADculo%3E%0D%0A%0D%0ASeu%20linkedin%3A%20%3Clinkedin%3E" type="button" class="btn btn-outline-primary">
      Apply
    </a>
  </div>
</div>