<style>
  body {
    cursor: none;
  }
</style>
<div class="landing-page" style="position: relative;">
  <img src="static/paisagem.jpg" class="img-fluid landing-img" alt="Paisagem" style="filter: blur(8px); width: 100%;">
  <div class="content text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
    <h1 style="text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">Welcome to My Portfolio</h1>
    <p class="lead" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">Discover My Projects, Learn About Me, and Get In Touch.</p>
    <a href="/projects" class="btn btn-primary m-2" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">View Projects</a>
    <a href="/aboutme" class="btn btn-primary m-2" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">About Me</a>
    <a href="/contact" class="btn btn-primary m-2" style="text-shadow: 2px 2px 8px rgba(0,0,0,0.5);">Contact</a>
  </div>
</div>