<style>
  body {
    cursor: none;
  }

  .navbar-nav {
    display: flex; /* Use flexbox para alinhar itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    width: 100%; /* Largura total para centralizar dentro do contêiner */
  }

  .navbar-brand,
  .nav-link {
    position: relative; /* Posição relativa para posicionamento de pseudo-elemento */
    margin: 0 10px; /* Espaçamento entre os links */
  }

  /* Estilo para os pontos flutuantes */
  .navbar-brand::after,
  .nav-link:not(:last-child)::after { /* Adiciona um ponto após a marca e antes do último item */
    content: ' '; /* Caractere Unicode para um ponto */
    color: white; /* Cor do ponto */
    font-size: 1.5em; /* Tamanho do ponto */
    position: absolute; /* Posicionamento absoluto relativo ao nav-link */
    top: 50%; /* Centraliza verticalmente */
    right: -20px; /* Posiciona à direita do link */
    transform: translate(0, -50%); /* Centraliza o ponto verticalmente */
  }
</style>

<div class="container">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alternar navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ms-auto">
      <a class="nav-link" href="/">Início</a>
      <a class="nav-link" aria-current="page" href="/projects">Projetos</a>
      <a class="nav-link" href="/aboutme">Sobre Mim</a>
      <a class="nav-link" href="/contact">Contato</a>
    </div>
  </div>
</div>
